body {
    font-size: 17px;
    font-family: Arial;
}
h1 {
    text-align: center;
    color: red;
    font-size: 19px;
    padding: 60px;
}
h2 {
    color: blue;
    font-size: 20px;
    text-align: center;
}
p {
    text-align: center;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 50px;
}

